@import 'https://fonts.googleapis.com/css?family=Prompt';

body {
    font-family: 'Prompt', sans-serif;
}

.navbar {
    /*background: rgba(0, 0, 0, 0.6);*/
    padding: 0px;
}

/*
.navbar-main-color {
    background: linear-gradient(90deg,#FBA100,#20123a) !important;
}
*/

/*
.navbar-main-color {
    background: rgba(0,0,0,0.7) !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.7);
    transition: all 0.5s ease;
}
*/

.footer {
    background: #111111;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /*border-top: 1px solid #d2d2d7;*/
    color: #FFFFFF !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 500;
}

nav.top-nav-collapse {
    /*background: rgba(0,0,0,0.7) !important;*/
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.7);*/
    background: #000;
    transition: all 0.5s ease;
}

.navbar-dark .navbar-nav .nav-link {
    /*color: rgba(255,255,255,.8);*/
    color: #FFFFFF;
}

.fixed-top {
    z-index: 10 !important;
}

/*
.navbar-dark .navbar-nav .nav-link:hover {
    color: #FBA100;
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #FBA100 !important;
}
*/

.tab-content {
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

.close {
    font-size: 50px !important;
}

section {
    padding: 100px 0;
}

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}

header {
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/310479/pexels-photo-310479.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #000000;
    opacity: .2;
}

.header-title {
    font-size: 55px;
    font-weight: 600;
}

.header-subtitle {
    font-size: 22px;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.view-btn {
    display: inline-block;
    border: none;
    font-weight: 500;
    min-width: 195px;
    padding: 0.75rem 1.75rem;
    border-radius: 50px;
    text-transform: uppercase;
    background: #034679;
    color: #fff;
    line-height: normal;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    border: 2px solid #034679;
}

.view-btn:hover {
    color: #034679 !important;
    background: #FFFFFF !important;
    border: 2px solid #034679;
}

.video-btn:hover i {
    color: #034679!important;
    border: 2px solid #034679;
}


.fa-play-circle {
    color:#FFFFFF !important;
}

.learn-more-btn {
    display: inline-block;
    border: none;
    font-weight: 500;
    min-width: 150px;
    border-radius: 50px;
    text-transform: uppercase;
    background: #034679;
    color: #fff;
    line-height: normal;
    cursor: pointer;
    text-align: center;
    border: 2px solid #034679;
}

.learn-more-btn:hover {
    background: #FFFFFF;
    color: #034679;
    border: 2px solid #034679;
}

a.btn.btn-warning:hover {
    background: #034679;
    color: #FFF;
    border: 2px solid #034679;
}

button.btn-danger:hover {
    background: #034679;
    color: #FFF;
    border: 2px solid #034679;
}

.logo-company {
    width: auto;
    height: 80px;
}

.text-white {
    color: white;
}

.text-primary {
    color: #0a183d !important;
}

.bg-white {
    background-color: white;
}

.bg-primary {
    background: #001659 !important;
}

.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

.v-center {
    display: flex;
    align-items: center;
}

i {
    color: #034679;
}

ol.circle {
    list-style: none;
    counter-reset: item;
    padding: 0px;
  }

  ol.circle > li{
    counter-increment: item;
    margin-bottom: 5px;
  }

 ol.circle > li:before {
    margin-right: 10px;
    content: counter(item);
    background: #034679;
    border-radius: 100%;
    color: white;
    width: 1.5em;
    text-align: center;
    display: inline-block;
  }

  /* The Modal (background) */
.modal {
    z-index: 20; /* Sit on top */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  .modal-dialog {
      max-width: 800px;
      margin: 30px auto;
    }

    .modal-body {
        position:relative;
        padding:0px;
    }

    .close {
        position:absolute;
        right: -30px;
        top: -30px;
        z-index: 999;
        font-size: 2rem;
        font-weight: normal;
        color: #fff;
        opacity: 1;
    }
/*
header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
*/

.card-img-top {
    height: 250px;
    object-fit: cover;
}

/*
.sub-title {
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 60px;
    padding: 30px 0;
    background-image: url(https://images.pexels.com/photos/310479/pexels-photo-310479.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
}
*/

.sub-title {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: url(https://images.pexels.com/photos/310479/pexels-photo-310479.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.sub-title-overlay {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #000000;
    opacity: .2;
}

.full-screen {
    position: absolute;
    /*top: 80px;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

.text-center {
    text-align: center;
}

.text-ellipsis {
    width: 99%;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub-title .container {
    margin-top: 125px;
    margin-bottom: 125px;
}

.sub-title h1 {
    color: #fff;
    font-weight: bold;
    text-align: left;
    margin: 20px 0;
    font-size: 36px;
}

.card-content {
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
}

.card {
    margin-bottom: 30px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    cursor: pointer;
}

/*
.card:hover {
    box-shadow: 0px 3px 4px rgba(0,0,0,0.1);
}
*/

.card-title {
    font-size: 18px !important;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* จำนวนบรรทัดที่ต้องการจำกัด */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* แสดงผล ... เมื่อข้อความยาวเกินไป */
    word-break: break-word; /* ตัดคำเมื่อเกินขอบเขต */
}

.card-body {
    min-height: 100px;
}

.services {
    text-align: center;
}

.services .section-title h2 {
    font-size: 42px;
}

.services .section-title p {
    text-align: center;
    margin-bottom: 40px;
}

.services .service-box {
    margin-bottom: 30px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 0 5px #bdbdbd;
    float: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 300px;
    width: 100%;
    background-blend-mode: overlay;
    background-position: center; background-size: cover;
}

.services .service-box:hover {
    cursor: pointer;
}

.services i {
    display: flex;
    justify-content: center;
}

.services i {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
    background: #ffffff;
    border-radius: 100%;
    transition: 0.5s;
    color: #0a183d;
    font-size: 35px;
    overflow: hidden;
    padding-top: 18px;
    box-shadow: 0px 0 5px #bdbdbd;
    margin: 10px auto 15px;
}
.services h4 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
    position: relative;
}
.services h4 {
    color: #FFFFFF;
    text-decoration: none;
}
.services h5 {
    font-weight: 600;
    margin-bottom: 15px;
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
}
.services h4:hover {
    color: #FFFFFF;
}
.services p {
    line-height: 24px;
    font-size: 14px;
}

.services-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.award-wrapper {
    padding: 0px 150px 0px 150px;
}

.award-card {
    height: 300px;
}

.award-wrapper > img {
    width: 70px;
    margin-bottom: 25px;
}

.award-img-wrapper {
    height: unset !important;
    min-height: 300px !important;
}

.bottom15 {
    margin-bottom: 15px;
}

.image {
    overflow: hidden;
}

.image img {
    -webkit-transition: all .8s linear;
    transition: all .8s linear;
}

.image img:hover {
    transform: scale(1.1);
}

.image-about > img {
    width: 100%;
    object-fit: cover;
}

.img-show {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.img-max-width {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.owl-carousel .item {
    background: #42bdc2;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    height: 170px;
  }

  /*
  .owl-carousel .owl-item img {
      width: unset !important;
  }
  */

  .image-client {
      height: 150px;
      object-fit: contain;
      padding: 0 15px;
  }

  .section-title {
      padding-bottom: 50px;
  }

  .client-wrapper {
      padding-bottom: 25px;
  }

  .image-business {
    max-height: 500px;
  }

  .image-business-list {
      height: 250px;
  }

  .image-business-project {
      height: 250px;
      margin-bottom: 20px;
      cursor: pointer;
  }

  .form-style {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 25px
  }

  .submit-edit-btn {
      width: 500px;
      max-width: 90%;
      border-radius: 25px;
  }

  .pull-left {
      float: left;
  }

  .pull-right {
      float: right;
  }

  .tab-content {
      background: #FFFFFF;
      padding: 25px;
  }

  .nav-tabs .nav-link.active {
    color: #034679;
}

.nav-tabs .nav-link {
    color: #495057 !important;
    background: #FFFFFF;
    border-bottom: 1px solid #dee2e6;
}

.vertical-center {
    display: flex;
    align-items:center;
}

.lang-menu .lang {
    color: #FFFFFF;
}

.lang-menu .lang:hover {
    color: #FFFFFF !important;
}

.vision-section {
    padding-top: 50px;
}

.mission-section {
    padding-top: 50px;
}

.policy-section {
    padding-top: 50px;
}

.objective-section {
    padding-top: 50px;
}

.btn-primary {
    background: #034679;
    border-color: #034679;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px solid #034679;
}

.btn-primary:hover {
    background: #FFFFFF;
    color: #034679;
    border: 2px solid #034679;
}

.btn-warning {
    color: #034679;
    background-color: #FFFFFF;
    border: 2px solid #034679;
    border-radius: 25px;
    min-width: 100px;
}

.btn-warning:hover {
    color: #034679;
    background-color: #FFFFFF;
    border: 2px solid #034679;
}

.btn-danger {
    color: #034679;
    background-color: #FFFFFF;
    border: 2px solid #034679;
    border-radius: 25px;
    min-width: 100px;
}

.btn-danger:hover {
    background: #FFFFFF;
    color: #034679;
    border: 2px solid #034679;
}

.search-business {
    width: 350px !important;
    border-radius: 25px;
}

.business-icon i {
    cursor: pointer;
    padding-right: 15px;
}

select {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.progress {
    border-radius: 25px !important;
}

.progress-bar {
    background-color: #034679 !important;
    border-radius: 25px !important;
}

.map-wrapper {
    width: 100%;
    overflow: hidden;
    /*height: 390px;*/
}

.page-item.active .page-link {
    background-color: #034679 !important;
    border-color: #034679 !important;
    color: #FFFFFF !important;
}

.page-link {
    color: #034679 !important;
}

.back-btn-custom {
    position: fixed;
    left: 27px;
    z-index: 100;
    bottom: 0;
    height: 60px;
}

.filter-date-wrapper {
    margin-bottom: 25px;
}

.select-filter-date {
    width: 100%;
    border-radius: 25px;
}

.sort-wrapper {
    margin-top: 15px;
}

.sort-wrapper .btn {
    width: 250px;
}

span.multiselect-native-select > .btn-group {
    width: 100%;
    border: 1px solid #ced4da;
}

ul.multiselect-container {
    width: 100%;
}

.multiselect-container>li>a>label.checkbox, .multiselect-container>li>a>label.radio {
    margin: 0;
    color: #000;
}

.multiselect-selected-text {
    float: left;
    color: #495057;
}

.dropdown-toggle::after {
    position: absolute;
    right: 3px;
    top: 15px;
}

.contact-card-wrapper {
    height: 250px;
    border: 1px solid #DEDEDE;
    margin-bottom: 15px;
    background: #034679;
    cursor: pointer;
}

.contact-center-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.contact-center-wrapper > p {
    margin-top: 15px;
    color: #FFF;
}

.contact-card-wrapper > .contact-center-wrapper > i {
    color: #FFF;
}

.contact-address-wrapper {
    height: 250px;
    border: 1px solid #DEDEDE;
    margin-bottom: 15px;
    padding: 25px;
}

.badge {
    font-size: 85% !important;
}

.filter-search-wrapper {
    border-radius: 25px;
}

.btn-outline-primary {
    color: #034679;
    background-color: #FFFFFF;
    border: 2px solid #034679;
    border-radius: 25px;
}

.btn-outline-primary:hover {
    color: #FFF;
    background-color: #034679;
    border: 2px solid #034679;
    border-radius: 25px;
}

.btn-create-dashboard {
    min-width: 150px;
}

.tab-content-dashboard {
    padding-top: 0px;
}

.client-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}

.client-logo-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.col-xs-50 {
    width: 50% !important;
}

.contact-address-container {
    width: 75%;
}

@media only screen and (max-width: 992px) {
    .vision-wrapper > h2 {
        font-size: 1.5rem;
    }

    .map-wrapper {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 991.98px) {
    .contact-address-container {
        width: 100%;
    }

    .navbar-collapse {
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-expand-lg > .container {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0px !important;
        padding-left: 0px !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    }

    .showcase .showcase-text {
        padding-left: 10px !important;
    }

    .desc {
        padding-top: 20px;
    }

    .img-responsive {
        width: 100% !important;
        height: auto !important;
    }

    .image-about-sec1 > img {
        height: 200px !important;
    }

    .image-business-project {
        height: 200px !important;
    }

    .v-center {
        display: unset !important;
        align-items: unset !important;
    }

    .navbar-nav {
        margin-left: unset !important;
    }
}

@media only screen and (max-width: 768px) {
    .section-title {
        padding-bottom: 25px !important;
    }

    .map-wrapper {
        margin-bottom: 25px !important;
    }

    .award-wrapper {
        padding: 15px !important;
    }

    .view-btn {
        margin-top: 15px !important;
    }

    .vision-wrapper {
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .h2, h2 {
        font-size: 1.75rem;
    }

    .header-title {
        font-size: 42px;
    }

    .header-subtitle {
        font-size: 18px;
    }

    .sub-title {
        background-attachment: initial !important;
    }

    .sub-title h1 {
        font-size: 28px;
    }

    .image-about-sec1 {
        margin-bottom: 20px;
    }

    .image-about-sec1 > img {
        height: 200px !important;
    }

    .award-wrapper {
        padding: 0px !important;
    }

    .image-business {
        margin-bottom: 15px;
    }

    section {
        padding: 50px 0 !important;
    }

    .sub-title {
        height: 200px;
    }

    .vision-section {
        padding-top: 25px !important;
    }

    .mission-section {
        padding-top: 0px !important;
    }

    .policy-section {
        padding-top: 25px !important;
    }

    .objective-section {
        padding-top: 0px !important;
    }

    .search-business {
        margin-bottom: 10px;
    }

    .about-map-desc-wrapper {
        margin-top: 15px;
    }

    .map-wrapper {
        height: 300px;
    }

    .about-map-desc-wrapper > h5 {
        font-size: 18px;
    }

    .vision-section .desc > p {
        margin-bottom: 0px;
    }

    .policy-section .desc > p {
        margin-bottom: 0px;
    }

    .nav-tabs {
        min-width: 100%;
        display: inline-grid;
    }

    .tab-content {
        padding: 0px;
    }

    .nav-tabs .nav-link.active {
        color: #FFFFFF !important;
        background: #034679;
    }

    .nav-tabs .nav-link {
        border-color: #dee2e6;
    }

    .container {
        max-width: 640px;
    }

    /*
    .select-filter-date {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
        width: 100% !important;
    }
    */

    .form-filter > label {
        margin-bottom: 15px;
    }

    .form-style {
        padding: 0px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .contact-address-wrapper {
        height: 300px;
    }
}

@media only screen and (max-width: 575px) {
    .h2, h2 {
        font-size: 1.5rem;
    }

    /*
    p {
        font-size: 14px;
    }
    */

    .section-title {
        padding-bottom: 25px;
    }

    .logo-company {
        height: 70px;
    }

    header {
        top: 0 !important;
    }

    .header-title {
        font-size: 32px;
    }

    .sub-title {
        height: 200px;
    }

    .sub-title h1 {
        font-size: 22px;
    }

    .full-screen {
        top: 65 !important;
        height: 300px !important;
        margin-top: 65px;
    }


    .image-business-project {
        height: unset !important;
    }


    .close {
        font-size: unset !important;
    }

    .search-business {
        width: 100% !important;
        margin-bottom: 10px;
    }

    .owl-carousel .owl-item img {
        width: 100% !important;
    }

    .about-map-desc-wrapper > h5 {
        font-size: 16px;
    }

    .contact-content-title {
        font-size: 1rem;
    }
}

.hidden {
    display: none;
}

.shadow-img {
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

.has-error {
    border-width: 3px;
}

input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button {
    color: #fff;
    position: relative;

}

input[type="date"]::-webkit-datetime-edit-year-field {
    position: absolute !important;
    /*border-left:1px solid #8c8c8c;*/
    padding: 2px;
    color:#000;
    left: 56px;
}

input[type="date"]::-webkit-datetime-edit-month-field {
    position: absolute !important;
    /*border-left:1px solid #8c8c8c;*/
    padding: 2px;
    color:#000;
    left: 30px;
}


input[type="date"]::-webkit-datetime-edit-day-field {
    position: absolute !important;
    color:#000;
    padding: 2px;
    left: 4px;
}

.ajax-upload-dragdrop {
    border: 2px dotted #DEDEDE !important;
    padding: 25px !important;
    border-radius: 5px !important;
}

.ajax-upload-dragdrop b {
    color: #495057;
}

.ajax-file-upload {
    background: #034679 !important;
    padding-bottom: 25px !important;
}

.ajax-file-upload-statusbar {
    border: 1px solid #DEDEDE !important;
    margin: 0 0 15px 0 !important;
}

.ajax-file-upload-preview {
    width: auto !important;
}

.ajax-file-upload-bar {
    background-color:#28a745!important;
}

.ajax-file-upload-red {
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}
