@import 'https://fonts.googleapis.com/css?family=Prompt';

body {
    font-family: 'Prompt', sans-serif;
}

.navbar {
    background: linear-gradient(180deg,rgba(0,0,0,.2) 0,transparent 95%);
    padding: 10px;
    width: 100%;
}

.navbar-main-color {
    background: #0a183d !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px !important;
    font-weight: 500;
}

nav.top-nav-collapse {
    transition: all 300ms ease-in-out;
    background-color:#0a183d !important;
}

.navbar-dark .navbar-nav .nav-link {
    /*color: rgba(255,255,255,.8);*/
    color: #FFFFFF;
}

.navbar-dark .navbar-nav .nav-link:hover {
    /*color: rgba(255,255,255,.8);*/
    color: #FBA100;
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #FBA100 !important
}

header {
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/258160/pexels-photo-258160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    /* flex-box thing */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

.header-title {
    font-size: 65px;
}

.header-subtitle {
    font-size: 18px;
}

.view-btn {
    display: inline-block;
    border: none;
    font-weight: 500;
    min-width: 195px;
    padding: 0.75rem 1.75rem;
    border-radius: 50px;
    text-transform: uppercase;
    /*background: #fc0254;*/
    background: #FBA100;
    color: #fff;
    line-height: normal;
    cursor: pointer;
    text-align: center;
}

.learn-more-btn {
    display: inline-block;
    border: none;
    font-weight: 500;
    min-width: 195px;
    border-radius: 50px;
    text-transform: uppercase;
    background: #FBA100;
    color: #fff;
    line-height: normal;
    cursor: pointer;
    text-align: center;
}

.learn-more-btn:hover {
    display: inline-block;
    border: none;
    font-weight: 500;
    min-width: 195px;
    border-radius: 50px;
    text-transform: uppercase;
    background: #FFFFFF;
    color: #FBA100;
    line-height: normal;
    cursor: pointer;
    text-align: center;
    border: 1px solid #FBA100;
    transition: all .5s linear;
}

.logo-company {
    width: auto;
    height: 70px;
}

.text-white {
    color: white;
}

.text-primary {
    color: #0a183d !important;
}

.bg-white {
    background-color: white;
}

.bg-primary {
    background-color: #0a183d !important;
}

.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

.view-btn:hover { 
    /*color: #fc0254 !important;
    background: #FFFFFF !important;*/
    color: #FBA100 !important;
    background: #FFFFFF !important;
    transition: all .5s linear;
}

.v-center {
    display: flex;
    align-items: center;
}

ol.circle {
    list-style: none;
    counter-reset: item;
    padding: 0px;
  }
 
  ol.circle > li{
    counter-increment: item;
    margin-bottom: 5px;
  }
 
 ol.circle > li:before {
    margin-right: 10px;
    content: counter(item);
    background: #0a183d;
    border-radius: 100%;
    color: white;
    width: 1.5em;
    text-align: center;
    display: inline-block;
  }
  
  .modal-dialog {
      max-width: 800px;
      margin: 30px auto;
    }
    
    .modal-body {
        position:relative;
        padding:0px;
    }

    .close {
        position:absolute;
        right: -30px;
        top: -30px;
        z-index: 999;
        font-size: 2rem;
        font-weight: normal;
        color: #fff;
        opacity: 1;
    }
/*
header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
*/

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.sub-title {
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 65px;
    padding: 30px 0;
    background-image: url(https://images.pexels.com/photos/310479/pexels-photo-310479.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.full-screen {
    position: absolute;
    /*top: 80px;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

.text-center {
    text-align: center;
}

.text-ellipsis {
    width: 99%;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub-title .container {
    margin-top: 125px;
    margin-bottom: 125px;
}

.sub-title h1 {
    color: #fff;
    font-weight: bold;
    text-align: left;
    margin: 20px 0;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

.services {
    text-align: center;
}

.services .section-title h2 {
    font-size: 42px;
}

.services .section-title p {
    text-align: center;
    margin-bottom: 40px;
}

.services .service-box {
    margin-bottom: 30px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 0 5px #bdbdbd;
    float: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 300px;
    width: 100%;
}

.services .service-box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FBA100;
    left: 0px;
    top: -500px;
    z-index: -1;
    transition: 1s;
}

.services .service-box:hover::after {
    top: 0px;
}

.services i {
    display: flex;
    justify-content: center;
}

.services i {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
    background: #ffffff;
    border-radius: 100%;
    transition: 0.5s;
    color: #0a183d;
    font-size: 35px;
    overflow: hidden;
    padding-top: 18px;
    box-shadow: 0px 0 5px #bdbdbd;
    margin: 10px auto 15px;
}
.services h4 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
    position: relative;
}
.services h4 a {
    color: #FFFFFF;
    text-decoration: none;
}
.services h4 a:hover {
    color: #FFFFFF;
}
.services p {
    line-height: 24px;
    font-size: 14px;
}

.services-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.bottom15 {
    margin-bottom: 15px;
}

.image {
    overflow: hidden;
}

.image img {
    -webkit-transition: all .8s linear;
    transition: all .8s linear;
}

.image img:hover {
    transform: scale(1.1);
}

.img-show {
    width: 100%;
    height: auto;
    object-fit: fill;
    margin-bottom: 20px;
}

.owl-carousel .item {
    background: #42bdc2;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    height: 170px;
  }

  .image-client {
      height: 150px;
      object-fit: cover;
      padding: 0 15px;
  }

  .section-title {
      padding-bottom: 25px;
  }

  .client-wrapper {
      padding-bottom: 25px;
  }

  .image-business {
    height: 350px;
  }

  .image-business-list {
      height: 250px;
  }

  .form-style {
    background: #FFFFFF; 
    border-radius: 25px; 
    padding: 25px
  }

  .submit-edit-btn {
      max-width: 500px;
      border-radius: 25px;
  }

  .pull-left {
      float: left;
  }

  .pull-right {
      float: right;
  }

  .tab-content {
      background: #FFFFFF;
      padding: 25px;
  }

  .nav-tabs .nav-link.active {
    color: #FBA100 !important;
}

.nav-tabs .nav-link {
    color: #495057 !important;
    background: #FFFFFF;
    border-bottom: 1px solid #dee2e6;
}

@media only screen and (max-width: 991px) {
    .showcase .showcase-text {
        padding-left: 10px !important;
    }

    .desc {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .header-title {
        font-size: 42px;
    }

    .sub-title {
        background-attachment: initial !important;
    }

    .sub-title h1 {
        font-size: 28px !important;
    }
}

@media only screen and (max-width: 575px) {
    .logo-company {
        height: 50px;
    }

    header {
        top: 0 !important;
    }

    .full-screen {
        top: 65 !important;
        height: 300px !important;
        margin-top: 65px;
    }
}